* {
    list-style-type: none;
    
    a:-webkit-any-link {
        color: #000000;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: #000000;
        }
    }
}

body {
    .dropdown-toggle::after {
        display: none;
    }

    .btn {
        background-color: #FFFFFF;
        color: #000000;
    
        border: 2px solid #DD0E1D;
        border-radius: 30px;
    
        padding: 16px 25px;

        &:hover {
            background-color: #FFFFFF;
            color: #000000;
            border: 2px solid #DD0E1D;
        }
    }
}



header {
    max-width: 1512px;

    margin: 0 auto;

    .hamburger-menu {
        width: 26px;

        margin-right: 10px;

        z-index: 9999;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .navbar {
        .container-xl {
            margin: 0 0;
        }

        form {
            margin: 0 77px;

            input {
                height: 60px;
        
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 30px;
            }

            i {
                cursor: pointer;
            }
        }
    }

    ul {
        .nav-item {
            padding-right: 2.5em;

            &:last-of-type {
                padding-right: 0;
                padding-left: 10px;
            }

            a {
                padding: 0 !important;

            }
        }
    }
}

main {
    max-width: 1512px;

    .info {

        .info-block {
            margin-top: 70px;
        }

        .container-item {
            width: 288px;
            height: 432px;

            background: #D9D9D9;
            border-radius: 20px;

            &:nth-child(2) {
                margin: 0 20px;

                background-color: #FFFFFF;
            }

            &:last-of-type {
                padding: 30px 23px;

                height: auto;
            }

            .item-block {
                height: 50%;

                background-color: #D9D9D9;
                border-radius: 20px;

                &:first-of-type {
                    height: calc(50% - 20px);

                    margin-bottom: 20px;
                }
            }

            .text-container {
                .image-container {
                    width: 100px;
                    height: 100px;
                    
                    margin: 0 auto;
    
                    border-radius: 15px;
                }
                
                p {
                    margin-top: 64px;
                    margin-bottom: 0;
                }
            }

            
            
            button, .btn-success {
                width: 100%;

                padding: 18px 0;
                margin-top: auto;

                background: #FFFFFF;
                border: none;
                border-radius: 10px;

                color: #000000;
            }
        
        }
    }

    //Filter buttons
    .filters {
        .filters-container {
            margin-top: 27px;
            
            .filters-buttons {
                margin-right: 20px;
            }
        }
    }
    
    //Swiper style
    .swiper-filters {
        width: 100%;
        margin-top: 40px;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2) !important;

            .image-container {
                width: 226px;
                height: 150px;

                margin: 0 auto;

                background: #D9D9D9;
                border-radius: 10px;
            }

            .btn {
                padding: 14px 28px;
            }
        }

        .swiper-button-next, .swiper-button-prev {
            color: #DD0E1D;
        }
    }

    //Swiper offer style
    .swiper-offer {
        width: 100%;
        margin-top: 40px;

        .swiper-slide {

            .image-container {
                width: 325px;
                height: 200px;

                margin: 0 auto;

                background: #D9D9D9;
                border-radius: 10px;
            }
        }
    }

    //Pagination for all swipers
    .swiper-pagination {
        position: static;

        margin-top: 40px;

        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;

            background-color: #DD0E1D;
            opacity: 1;

            border: 4px solid #DD0E1D;
        }

        .swiper-pagination-bullet-active {
            background-color: #FFFFFF;
        }
    }


    //Popular section
    .popular {
        max-width: 1512px;

        margin-top: 70px;
    }

    //Prices section
    .prices {
        margin-top: 100px;
    }

    //Offer section
    .offer {
        margin-top: 100px;
    }

    //Shops section

    .shops {
        margin-top: 100px;

        ul {
            padding: 0;
            margin-top: 40px;
        }

        .shops-item {
            text-align: center;

            width: 210px;
            height: 192px;

            border: 1px solid #DD0E1D;
            border-radius: 30px;

            padding: 30px 20px 40px 20px;

            img {
                display: block;

                width: 70px;
                height: 70px;

                background: #D9D9D9;
                border-radius: 50%;

                margin: 0 auto;
            }
        }
    }
}

aside {
    max-width: 1512px;
    .app-downloads {
        max-width: 441px;

        p {
            margin: 30px 0;
        }

    }

    .qr {
        .qr-container {
            background:#D9D9D9;

            background-image: url("/source/Saly-24.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            padding: 18.5%;

        }

        p {
            margin-left: 50px;
        }
    }
    
}

footer {
    width: 100%;
    height: 359px;

    background: #8F8F8F;

    padding-top: 30px;

    .footer-block {
        max-width: 1512px;
        margin: 0 auto;
        ul {
            padding: 0;

            margin-bottom: 20px;

            li {
                color: #494949;
                margin-bottom: 12px;

                &:first-of-type {
                    margin-bottom: 15px;
                }

                a {
                    color: #FFFFFF;

                    &:hover {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    ::-webkit-scrollbar { width: 0;}

    header {
        .hamburger-menu {
            display: block;
        }
        
        #menu__toggle {
            opacity: 0;
        }
        #menu__toggle:checked + .menu__btn > span {
            transform: rotate(45deg);
        }
        #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
        }
        #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__box {
            left: 0 !important;
        }
        .menu__btn {
            position: relative;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
        }
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 26px;
            height: 2px;
            background-color: #616161;
            transition-duration: .25s;
        }
        .menu__btn > span::before {
            content: '';
            top: -8px;
        }
        .menu__btn > span::after {
            content: '';
            top: 8px;
        }
        .menu__box {
            display: block;
            position: fixed;
            top: 0;
            left: -100%;
            width: 300px;
            height: 100%;
            margin: 0;
            padding: 80px 0;
            list-style: none;
            background-color: #ECEFF1;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
            transition-duration: .25s;
        }
        .menu__item {
            display: block;
            padding: 12px 24px;
            color: #333;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: .25s;
        }
        .menu__item:hover {
            background-color: #CFD8DC;
        }
    

        .navbar {
  
            form {
                margin-left: 14px;
                margin-right: 20px;

                input {
                    height: 100%;
            
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    border-radius: 30px;
                }
            }
        }
    }

    main {
        .info {
            .info-block {
                margin-top: 20px;
            }

            .container-item {
                width: 100%;
                height: 160px;

                &:last-of-type {
                    padding: 14px 10px;

                    height: auto;
                }

                &:nth-child(2) {
                    height: 105px;

                    margin: 20px 0;
                }
                
                .item-block {
                    width: 50%;
                    height: 100%;

                    &:first-of-type {
                        height: 100%;
                        width: calc(50% - 20px);

                        margin: 0;
                    }
                }

                .text-container {
                    .image-container {
                        width: 40px;
                        height: 40px;

                        border-radius: 10px;

                        img {
                            width: 15px;
                            height: 20px;
                        }

                        margin-right: 16px;
                    }

                    
                    p {
                        margin: 0;

                        font-size: 0.81em;
                    }
                }

                button, .btn-success {
                    margin-top: 23px;
                }

            }
        }

        //filter buttons mobile
        .filters {
            .filters-container {
                flex-wrap: wrap;

                .filters-buttons {
                    width: 50%;

                    margin: 0;

                    &:nth-child(2) {
                        width: calc(50% - 20px);
                        margin-left: 20px;
                    }

                    &:last-of-type {
                        position: relative;

                        width: 100%;

                        margin-top: 20px;
                        
                        text-align: start;

                        i {
                            position: absolute;
                            right: 22px;
                        }
                    }
                }
            }
        }

        //Swiper style mobile
        .swiper-filters {
            .swiper-pagination {
                position: static;

                margin-top: 40px;

                .swiper-pagination-bullet {
                    width: 15px;
                    height: 15px;

                    background-color: #DD0E1D;
                    opacity: 1;

                    border: 4px solid #DD0E1D;
                }

                .swiper-pagination-bullet-active {
                    background-color: #FFFFFF;
                }
            }
        }


        //Popular section mobile
        .popular {
            margin-top: 87px;
        }
        //Prices section mobile
        .prices {
            margin-top: 70px;

            .filters {
                .filters-container {
                    .filters-buttons {
                        &:nth-child(1n + 3) {
                            width: 100%;

                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        //Offer section mobile
        .offer {
            margin-top: 70px;

            .swiper-pagination {
                margin-top: 30px;
            }
        }

        .shops {
            margin-top: 70px;

            ul {
                margin-top: 20px;
            }
        }
    }
}